body {
    background: linear-gradient(to right, #1488cc, #2b32b2);
}

header {
    display: flex;
    justify-content: center;
}

.heading {
    font-size: 2rem;
    font-weight: 600;
}

section {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.counter-screen {
    padding: 0.5vw;
    width: 10vw;
    height: 5vw;
    margin-top: 1vw;
    border-radius: 7px;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
}

.counter-screen span {
    float: right;
    font-size: 3rem;
}

.counter-button {
    margin-top: 1vw;
    margin-left: 0.5vw;
}

.action-btn {
    cursor: pointer;
    width: 8vw;
    height: 3vw;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    margin-right: 0.5vw;
}

.incerment {
    background-color: rgb(59, 152, 240);
}

.incerment:active {
    background-color: rgb(28, 137, 239);
}

.decrement {
    background-color: rgb(151, 151, 151);
}

.decrement:active {
    background-color: rgb(119, 119, 119);
}