.logo{
    width: 110px;
    margin-left: 2%;
}
section{
    width: 100vw;
    height: 100%;
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav{
    background-color: transparent;
    position: fixed;
    height: 8%;
    z-index: 10;
}
.navLeft{
    display: flex;
    width: 85%;
}
.nav-links{
    margin-left: 1.8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-links a{
    margin-left: 1rem;
    color: #fff;
    text-decoration: none;
    transition: 0.3s ease;
}
.navRight{
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
}
.nav_avatar{
    margin-right: 8%;
    border-radius: 3px;
}
.nav-links a:hover{
    color: rgb(150, 150, 150);
}